.nav {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0.75rem 1rem;
}

.navContent {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.categoryButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  color: black;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  color: #374151;
  transition: color 0.2s;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
}

.navLink:hover {
  color: #2563eb;
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #374151;
}

.phoneNumber {
  font-weight: 500;
}

/* ///////////////////////////////////////////////// */
.container {
  max-width: 80rem;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #f3f4f6;
}

.promoImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}